**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/bin
**/obj
**/Dockerfile*
**/*.sln
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/Properties/launchSettings.json
**/appsettings.Development.json
